name: Check if PR has a valid issue

on:
  pull_request_target:
    types: [opened, reopened, edited, synchronize]

jobs:
  checker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Issue Validator
        uses: HarshCasper/validate-issues-over-pull-requests@v0.1.1
        id: validator
        with:
          prbody: ${{ github.event.pull_request.body }}
          prurl: ${{ github.event.pull_request.url }}

      - name: Fail if PR has no linked issue
        if: ${{ steps.validator.outputs.valid == 0 }}
        run: |
          echo "PR is not linked to any issue."
          exit 1
